<link rel="stylesheet" href="header.css">
<div class="header">
    <a href="#default" class="logo">NewsHub</a>
    <div class="header-left">
        <a href="#us">US</a>
        <a href="#world">World</a>
        <a href="#politics">Politics</a>
        <a href="#business">Business</a>
        <a href="#opinion">Opinion</a>
        <a href="#health">Health</a>
        <a href="#entertainment">Entertainment</a>
        <a href="#travel">Travel</a>
        <a href="#sports">Sports</a>
    </div>
    <form>
        <input class="header-right" type="text" name="search" placeholder="Search..">
      </form>
  </div>

